@model ApprovalManagement.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<!-- Basic Layout -->
<div class="col-xxl">
	<div class="card mb-4">
		<div class="card-header d-flex align-items-center justify-content-between row">
			<div class="col-md-6">
				<h5 class="mb-0">Project Details</h5>
			</div>
			<div class="col-md-6 d-flex mt-md-2 mt-sm-4 justify-content-end">
				<label asp-for="ProjectId" class="control-label mt-2 mx-3"></label>
				<div class="col-sm-2">
					<input asp-for="ProjectId" class="form-control" disabled />
				</div>
			</div>
		</div>
		<div class="card-body">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="ProjectId" class="form-control" />
				@if (Model.ProjectStatus == ProjectStatusValue.Ongoing || Model.ProjectStatus == ProjectStatusValue.Done)
				{
					<div class="row">
						<div class="form-group col-md-6 my-3">
							<label asp-for="ProjectName" class="control-label"></label>
							<input asp-for="ProjectName" class="form-control" readonly/>
							<span asp-validation-for="ProjectName" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6 my-3">
							<label asp-for="Description" class="control-label"></label>
							<input asp-for="Description" class="form-control" readonly />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6 my-3">
							<label asp-for="StartDate" class="control-label"></label>
							<input asp-for="StartDate" type="date" class="form-control" readonly />
							<span asp-validation-for="StartDate" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6 my-3">
							<label asp-for="EndDate" class="control-label"></label>
							<input asp-for="EndDate" type="date" class="form-control" readonly/>
							<span asp-validation-for="EndDate" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
                        @if (Model.ApprovalStatus == ApprovalStatusValue.Approved)
                        {
                            <div class="form-group col-md-6 my-3">
                                <label asp-for="PlannedBudget" class="control-label"></label>
                                <input asp-for="PlannedBudget" class="form-control" readonly />
                                <span asp-validation-for="PlannedBudget" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-6 my-3">
                                <label asp-for="PlannedBudget" class="control-label"></label>
                                <input asp-for="PlannedBudget" class="form-control" />
                                <span asp-validation-for="PlannedBudget" class="text-danger"></span>
                            </div>
                        }
						<div class="form-group col-md-6 my-3">
							<label asp-for="Manager" class="control-label"></label>
							<input asp-for="Manager" class="form-control" readonly />
							<span asp-validation-for="Manager" class="text-danger"></span>
						</div>
						
					</div>
				}
				else
				{
					<div class="row">
						<div class="form-group col-md-6 my-3">
							<label asp-for="ProjectName" class="control-label"></label>
							<input asp-for="ProjectName" class="form-control" />
							<span asp-validation-for="ProjectName" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6 my-3">
							<label asp-for="Description" class="control-label"></label>
							<input asp-for="Description" class="form-control" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6 my-3">
							<label asp-for="StartDate" class="control-label"></label>
							<input asp-for="StartDate" type="date" class="form-control" />
							<span asp-validation-for="StartDate" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6 my-3">
							<label asp-for="EndDate" class="control-label"></label>
							<input asp-for="EndDate" type="date" class="form-control" />
							<span asp-validation-for="EndDate" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
                        <div class="form-group col-md-6 my-3">
                            <label asp-for="PlannedBudget" class="control-label"></label>
                            <input asp-for="PlannedBudget" class="form-control" />
                            <span asp-validation-for="PlannedBudget" class="text-danger"></span>
                        </div>
						<div class="form-group col-md-6 my-3">
							<label asp-for="Manager" class="control-label"></label>
							<input asp-for="Manager" class="form-control" />
							<span asp-validation-for="Manager" class="text-danger"></span>
						</div>
						
					</div>
				}
				

				<div class="row mt-4 d-flex justify-content-center">
					<div class="btn btn-group col-md-3">
						<input type="submit" value="Update" class="btn btn-primary mx-2" width="100px" />
						<a asp-action="Index" class="btn btn-danger" color="white" style="width:100px;">Back</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
